# Autocombat TOP+StrokeMRI, SABREand Insight46 harmonized datasets

This notebook creates datasets from the above hamornized as if each of 1. a blended TOP and StrokeMRI 2.SABRE and 3. Insight  is indpendant and from a different "batch" (TOP and StrokeMRI are same acquisition on same machine, so same batch)

Note this must be run in the `comscan` ( `comscan6`) environment

## import libraries

In [1]:
import os

import pandas as pd
import numpy as np

In [2]:
import ComScan

C:\Users\CandaceMoore\miniconda3\envs\comscan6\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

## Let's see how we would apply this to our data
We will have to flip it on it's side to make it work

In [3]:
!python --version

Python 3.7.12

In [4]:
filepath = '../open_work/internal_results/cleaned_pvc2s/' 
filename_mri = os.path.join(filepath,'StrokeMRI_pvc2c.csv') 
filename_top = os.path.join(filepath,'TOP_pvc2c.csv') 
filename_sabre = os.path.join(filepath,'SABRE_pvc2_cleaned.csv') 
filename_insight46 =  os.path.join(filepath,'Insight46_pvc2c.csv')

In [5]:
# Now we must clean SABRE down to be like the other datasets, including dropping NAns
MRI = pd.read_csv(filename_mri)
TOP = pd.read_csv(filename_top)
Insight46 = pd.read_csv(filename_insight46)

SABRE =  pd.read_csv(filename_sabre)
coly = TOP.columns
# SABRE = SABRE[coly]
# SABRE= SABRE.dropna()
SABRE.tail(3)

,Unnamed: 0,participant_id,age,sex,gm_vol,wm_vol,csf_vol,gm_ivc_ratio,gmwm_ivc_ratio,wmh_vol,...,deepwm_b_cov,aca_b_cov,mca_b_cov,pca_b_cov,totalgm_b_cov,deepwm_b,aca_b,mca_b,pca_b,totalgm_b
686,725,sub-97154_1_ses-1_run-1,71,M,0.49420,0.43000,0.26314,0.41622,0.41622,2.168,...,28.5449,4.0986,3.8984,2.7740,3.4137,13.4864,53.8449,46.8761,39.5245,45.0268
687,726,sub-97819_1_ses-1_run-1,72,M,0.58200,0.51335,0.39980,0.38926,0.38926,14.889,...,7.9896,3.4410,3.4441,3.6305,3.1638,18.6820,68.1887,55.7775,41.6975,50.4850
688,727,sub-97905_1_ses-1_run-1,71,M,0.64023,0.57521,0.48202,0.37717,0.37717,3.042,...,21.2033,4.5504,4.9379,4.3810,4.2747,10.5935,42.1268,36.5742,35.7132,35.3186

In [10]:
TOP['site'] = 0
MRI['site'] = 1
MRI.head(3)

,Unnamed: 0,participant_id,age,sex,gm_vol,wm_vol,csf_vol,gm_ivc_ratio,gmwm_ivc_ratio,wmh_vol,...,aca_b_cov,mca_b_cov,pca_b_cov,totalgm_b_cov,deepwm_b,aca_b,mca_b,pca_b,totalgm_b,site
0,1,sub-59082_1_ses-1_run-1,43.172603,F,0.64754,0.49441,0.31320,0.44500,0.78476,1.249,...,1.7273,1.9776,1.7141,1.9140,26.8262,104.3155,90.5047,73.8758,84.4527,1
1,2,sub-59083_1_ses-1_run-1,66.367123,F,0.60517,0.48594,0.42304,0.39968,0.72061,14.597,...,1.9669,1.7154,2.6394,1.8815,24.9597,75.7051,65.3032,65.6771,67.1158,1
2,4,sub-59085_1_ses-1_run-1,55.838356,F,0.61724,0.53779,0.33692,0.41371,0.77417,6.341,...,1.8146,1.9845,2.0827,1.9501,27.7117,81.0966,72.9980,60.8317,64.3183,1

# Here we will harmonize just TOP and StrokeMRI

In [11]:
TOPMRI = pd.concat([TOP, MRI])
TOPMRI.head(3)

,Unnamed: 0,participant_id,age,sex,gm_vol,wm_vol,csf_vol,gm_ivc_ratio,gmwm_ivc_ratio,wmh_vol,...,aca_b_cov,mca_b_cov,pca_b_cov,totalgm_b_cov,deepwm_b,aca_b,mca_b,pca_b,totalgm_b,site
0,0,sub-0001_1_ses-1_run-1,43.49,M,0.71736,0.52803,0.31812,0.45881,0.79653,1.743,...,2.2748,2.3205,2.6858,2.4316,22.1022,80.4744,68.3224,52.4614,60.6981,0
1,1,sub-0002_1_ses-1_run-1,38.30,F,0.72383,0.62394,0.25673,0.45112,0.83999,1.629,...,1.7564,2.3989,1.5982,1.9738,23.5401,87.3972,78.0359,63.9932,71.6047,0
2,2,sub-0019_1_ses-1_run-1,32.30,M,0.71224,0.53295,0.33594,0.45046,0.78753,0.621,...,1.9850,1.8702,2.1648,2.1723,27.5573,94.0855,86.3816,62.6012,74.0588,0

In [12]:
sex_mapping = {'F':0,'M':1}
TOPMRI = TOPMRI.assign(sex = TOPMRI.sex.map(sex_mapping))
TOPMRI.head(2)

,Unnamed: 0,participant_id,age,sex,gm_vol,wm_vol,csf_vol,gm_ivc_ratio,gmwm_ivc_ratio,wmh_vol,...,aca_b_cov,mca_b_cov,pca_b_cov,totalgm_b_cov,deepwm_b,aca_b,mca_b,pca_b,totalgm_b,site
0,0,sub-0001_1_ses-1_run-1,43.49,1,0.71736,0.52803,0.31812,0.45881,0.79653,1.743,...,2.2748,2.3205,2.6858,2.4316,22.1022,80.4744,68.3224,52.4614,60.6981,0
1,1,sub-0002_1_ses-1_run-1,38.30,0,0.72383,0.62394,0.25673,0.45112,0.83999,1.629,...,1.7564,2.3989,1.5982,1.9738,23.5401,87.3972,78.0359,63.9932,71.6047,0

## Now very importantly, we have our sites pre-defined. This means that the AutoCOmbat module will execute it's own version of combat (without clustering). Therefore we can implement the Autocombat neurocombat module's combat, without a need for clustering
If you don't believe me just read the documentation and the code itself

classComScan.neurocombat.Combat(features, sites, discrete_covariates=None, continuous_covariates=None, ref_site=None, empirical_bayes=True, parametric=True, mean_only=False, return_only_features=False, raise_ref_site=True, copy=True)

In [13]:
TOPMRI['decade']=(TOPMRI['age']/10).round()
#TOPMRI['decade']

In [14]:
TOPMRI = TOPMRI.sort_values(by='age')
TOPMRI.reset_index(inplace=True)
TOPMRI['fine_grain'] = TOPMRI['age'].rolling(2).sum()/2
#TOPMRI

In [15]:
TOPMRI[2:].fine_grain.iloc[::2] = TOPMRI[:].fine_grain.iloc[1::2]
#TOPMRI['fine_grain']

C:\Users\CandaceMoore\miniconda3\envs\comscan6\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [16]:
TOPMRI['fine_grain'][0] = TOPMRI['fine_grain'][1]
TOPMRI['fine_grain']

C:\Users\CandaceMoore\miniconda3\envs\comscan6\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

0       17.935000
1       17.935000
2       17.935000
3       18.505000
4       18.505000
          ...
1036    83.993001
1037    85.325402
1038    85.325402
1039    88.932727
1040    88.932727
Name: fine_grain, Length: 1041, dtype: float64

In [17]:
TOPMRI['decade'].unique()

array([2., 3., 4., 5., 6., 7., 8., 9.])

In [18]:
combat = ComScan.neurocombat.Combat(features=['gm_vol', 'wm_vol',
       'csf_vol', 'gm_ivc_ratio', 'gmwm_ivc_ratio', 'wmh_vol', 'wmh_count',
       'deepwm_b_cov', 'aca_b_cov', 'mca_b_cov', 'pca_b_cov', 'totalgm_b_cov',
       'deepwm_b', 'aca_b', 'mca_b', 'pca_b', 'totalgm_b',], sites=[ "site"], discrete_covariates=['sex'],continuous_covariates=['decade'],)

fg_combat = ComScan.neurocombat.Combat(features=['gm_vol', 'wm_vol',
       'csf_vol', 'gm_ivc_ratio', 'gmwm_ivc_ratio', 'wmh_vol', 'wmh_count',
       'deepwm_b_cov', 'aca_b_cov', 'mca_b_cov', 'pca_b_cov', 'totalgm_b_cov',
       'deepwm_b', 'aca_b', 'mca_b', 'pca_b', 'totalgm_b',], sites=[ "site"], discrete_covariates=['sex'],continuous_covariates=['fine_grain'],)

In [19]:
print(combat.fit(TOPMRI))
print(fg_combat.fit(TOPMRI))

Combat(continuous_covariates=['decade'], discrete_covariates=['sex'],
       features=['gm_vol', 'wm_vol', 'csf_vol', 'gm_ivc_ratio',
                 'gmwm_ivc_ratio', 'wmh_vol', 'wmh_count', 'deepwm_b_cov',
                 'aca_b_cov', 'mca_b_cov', 'pca_b_cov', 'totalgm_b_cov',
                 'deepwm_b', 'aca_b', 'mca_b', 'pca_b', 'totalgm_b'],
       sites=['site'])
Combat(continuous_covariates=['fine_grain'], discrete_covariates=['sex'],
       features=['gm_vol', 'wm_vol', 'csf_vol', 'gm_ivc_ratio',
                 'gmwm_ivc_ratio', 'wmh_vol', 'wmh_count', 'deepwm_b_cov',
                 'aca_b_cov', 'mca_b_cov', 'pca_b_cov', 'totalgm_b_cov',
                 'deepwm_b', 'aca_b', 'mca_b', 'pca_b', 'totalgm_b'],
       sites=['site'])

In [20]:
print(combat.gamma_star_)
print(fg_combat.gamma_star_)

[[-0.02788323 -0.00466914 -0.07557373  0.03514298  0.0621259  -0.07343095
  -0.055446    0.14648823 -0.05510474 -0.11211042 -0.0245458   0.00456546
  -0.01016768 -0.01232383 -0.00820175 -0.02319832 -0.01955843]
 [ 0.02908088  0.00466293  0.07324013 -0.03578357 -0.05950406  0.05604097
   0.04486949 -0.15576701  0.05047186  0.10555054  0.02338513 -0.00255092
   0.00876275  0.01246629  0.00719437  0.02580755  0.02159701]]
[[-0.05318842 -0.01027385 -0.0454769  -0.01181967  0.02068286 -0.04930229
  -0.04384364  0.10878602 -0.05067031 -0.11131687 -0.01640885 -0.00318542
  -0.00989239 -0.01894539 -0.01629129 -0.02554156 -0.02642664]
 [ 0.05626706  0.01032746  0.04420261  0.0122928  -0.0182455   0.03906095
   0.03656612 -0.11943485  0.04634149  0.10304988  0.01754098  0.00582038
   0.0026647   0.019193    0.01555145  0.02765812  0.02916445]]

In [21]:
#print(combat.transform(TOPMRI))

In [22]:
TOPMRI.head(3)

,index,Unnamed: 0,participant_id,age,sex,gm_vol,wm_vol,csf_vol,gm_ivc_ratio,gmwm_ivc_ratio,...,pca_b_cov,totalgm_b_cov,deepwm_b,aca_b,mca_b,pca_b,totalgm_b,site,decade,fine_grain
0,160,162,sub-0386_1_ses-1_run-1,17.72,1,0.74748,0.51253,0.27752,0.48616,0.81950,...,1.9367,2.0112,29.3651,92.1953,90.6503,69.6621,78.2365,0,2.0,17.935
1,138,140,sub-0337_1_ses-1_run-1,18.15,0,0.71192,0.44128,0.18879,0.53050,0.85932,...,1.6112,1.9346,25.3803,96.9371,90.1128,68.7717,82.3039,0,2.0,17.935
2,258,260,sub-0628_1_ses-1_run-1,18.49,1,0.87205,0.53199,0.23792,0.53110,0.85510,...,1.3563,1.8311,22.0632,83.9347,76.7863,58.3540,71.0527,0,2.0,17.935

In [23]:
transformed_TOPMRI= combat.transform(TOPMRI)
transformed_TOPMRI.head(3)

,index,Unnamed: 0,participant_id,age,sex,gm_vol,wm_vol,csf_vol,gm_ivc_ratio,gmwm_ivc_ratio,...,pca_b_cov,totalgm_b_cov,deepwm_b,aca_b,mca_b,pca_b,totalgm_b,site,decade,fine_grain
0,160,162,sub-0386_1_ses-1_run-1,17.72,1,0.749459,0.513228,0.281539,0.485534,0.816868,...,2.002462,2.015867,28.010191,92.042303,89.377568,69.051187,77.841332,0,2.0,17.935
1,138,140,sub-0337_1_ses-1_run-1,18.15,0,0.714806,0.442538,0.185265,0.530373,0.859416,...,1.598825,1.926741,25.055321,96.194185,88.924624,68.285708,81.254065,0,2.0,17.935
2,258,260,sub-0628_1_ses-1_run-1,18.49,1,0.87085,0.532535,0.238572,0.53098,0.854907,...,1.282735,1.806316,22.595573,84.80939,77.694572,59.329592,71.813798,0,2.0,17.935

In [24]:
fg_transformed_TOPMRI= fg_combat.transform(TOPMRI)
fg_transformed_TOPMRI.head(3)

,index,Unnamed: 0,participant_id,age,sex,gm_vol,wm_vol,csf_vol,gm_ivc_ratio,gmwm_ivc_ratio,...,pca_b_cov,totalgm_b_cov,deepwm_b,aca_b,mca_b,pca_b,totalgm_b,site,decade,fine_grain
0,160,162,sub-0386_1_ses-1_run-1,17.72,1,0.75109,0.513651,0.281143,0.486348,0.817409,...,2.006579,2.017534,27.936704,92.289822,89.69961,69.203382,78.136433,0,2.0,17.935
1,138,140,sub-0337_1_ses-1_run-1,18.15,0,0.716645,0.4431,0.184064,0.531726,0.860037,...,1.602063,1.928284,24.983315,96.454974,89.245674,68.435892,81.559096,0,2.0,17.935
2,258,260,sub-0628_1_ses-1_run-1,18.49,1,0.871753,0.53292,0.237817,0.53234,0.855519,...,1.285285,1.807692,22.524801,85.03379,77.991007,59.456243,72.09136,0,2.0,17.935

In [25]:
transformed_TOPMRI.columns

Index(['index', 'Unnamed: 0', 'participant_id', 'age', 'sex', 'gm_vol',
       'wm_vol', 'csf_vol', 'gm_ivc_ratio', 'gmwm_ivc_ratio', 'wmh_vol',
       'wmh_count', 'deepwm_b_cov', 'aca_b_cov', 'mca_b_cov', 'pca_b_cov',
       'totalgm_b_cov', 'deepwm_b', 'aca_b', 'mca_b', 'pca_b', 'totalgm_b',
       'site', 'decade', 'fine_grain'],
      dtype='object')

In [26]:
TOP_transformed = transformed_TOPMRI[ transformed_TOPMRI['site']==0]
TOP_transformed = TOP_transformed.drop(['site', 'decade', 'Unnamed: 0','fine_grain', 'index'], axis=1)
TOP_transformed.head(3)

,participant_id,age,sex,gm_vol,wm_vol,csf_vol,gm_ivc_ratio,gmwm_ivc_ratio,wmh_vol,wmh_count,deepwm_b_cov,aca_b_cov,mca_b_cov,pca_b_cov,totalgm_b_cov,deepwm_b,aca_b,mca_b,pca_b,totalgm_b
0,sub-0386_1_ses-1_run-1,17.72,1,0.749459,0.513228,0.281539,0.485534,0.816868,4.337751,21.60325,6.108171,1.57215,2.071765,2.002462,2.015867,28.010191,92.042303,89.377568,69.051187,77.841332
1,sub-0337_1_ses-1_run-1,18.15,0,0.714806,0.442538,0.185265,0.530373,0.859416,4.091838,21.60325,7.736026,1.695577,1.995268,1.598825,1.926741,25.055321,96.194185,88.924624,68.285708,81.254065
2,sub-0628_1_ses-1_run-1,18.49,1,0.87085,0.532535,0.238572,0.53098,0.854907,4.886483,40.494901,7.639,1.694004,2.061767,1.282735,1.806316,22.595573,84.80939,77.694572,59.329592,71.813798

In [27]:
fg_TOP_transformed = fg_transformed_TOPMRI[ fg_transformed_TOPMRI['site']==0]
fg_TOP_transformed = fg_TOP_transformed.drop(['site', 'decade', 'Unnamed: 0','fine_grain', 'index'], axis=1)
fg_TOP_transformed.head(3)

,participant_id,age,sex,gm_vol,wm_vol,csf_vol,gm_ivc_ratio,gmwm_ivc_ratio,wmh_vol,wmh_count,deepwm_b_cov,aca_b_cov,mca_b_cov,pca_b_cov,totalgm_b_cov,deepwm_b,aca_b,mca_b,pca_b,totalgm_b
0,sub-0386_1_ses-1_run-1,17.72,1,0.75109,0.513651,0.281143,0.486348,0.817409,5.265884,22.156424,6.207244,1.573807,2.070486,2.006579,2.017534,27.936704,92.289822,89.69961,69.203382,78.136433
1,sub-0337_1_ses-1_run-1,18.15,0,0.716645,0.4431,0.184064,0.531726,0.860037,5.022619,22.156424,7.816508,1.697406,1.993964,1.602063,1.928284,24.983315,96.454974,89.245674,68.435892,81.559096
2,sub-0628_1_ses-1_run-1,18.49,1,0.871753,0.53292,0.237817,0.53234,0.855519,5.808706,41.037483,7.72059,1.695831,2.060485,1.285285,1.807692,22.524801,85.03379,77.991007,59.456243,72.09136

In [28]:
MRI_transformed = transformed_TOPMRI[ transformed_TOPMRI['site']==1]
MRI_transformed = MRI_transformed.drop(['site', 'decade', 'Unnamed: 0', 'index', 'fine_grain'], axis=1)
MRI_transformed.head(3)

,participant_id,age,sex,gm_vol,wm_vol,csf_vol,gm_ivc_ratio,gmwm_ivc_ratio,wmh_vol,wmh_count,deepwm_b_cov,aca_b_cov,mca_b_cov,pca_b_cov,totalgm_b_cov,deepwm_b,aca_b,mca_b,pca_b,totalgm_b
18,sub-59251_1_ses-1_run-1,20.505464,0,0.628731,0.430503,0.199449,0.50243,0.844681,1.062004,27.16692,8.277608,1.654235,2.08044,1.867856,1.874918,24.729993,83.530868,79.536576,68.685848,74.249792
24,sub-59191_1_ses-1_run-1,20.97925,0,0.802694,0.534272,0.222106,0.515331,0.857918,0.646349,24.850269,8.921286,1.741631,2.076175,1.828899,1.95583,26.284905,90.810399,88.920989,66.83292,80.339474
46,sub-59147_1_ses-1_run-1,23.483607,0,0.6932,0.456282,0.23503,0.501857,0.832161,1.549685,18.672532,6.398998,1.817734,2.085159,1.677788,1.990202,22.151382,82.442818,72.758093,59.570719,67.093542

In [29]:
fg_MRI_transformed = fg_transformed_TOPMRI[fg_transformed_TOPMRI['site']==1]
fg_MRI_transformed = fg_MRI_transformed.drop(['site', 'decade', 'Unnamed: 0', 'index', 'fine_grain'], axis=1)
fg_MRI_transformed.head(3)

,participant_id,age,sex,gm_vol,wm_vol,csf_vol,gm_ivc_ratio,gmwm_ivc_ratio,wmh_vol,wmh_count,deepwm_b_cov,aca_b_cov,mca_b_cov,pca_b_cov,totalgm_b_cov,deepwm_b,aca_b,mca_b,pca_b,totalgm_b
18,sub-59251_1_ses-1_run-1,20.505464,0,0.626062,0.429893,0.200285,0.501447,0.844152,0.829873,26.993239,8.199319,1.653171,2.081719,1.865368,1.873616,25.284201,83.19992,78.988246,68.429353,73.704665
24,sub-59191_1_ses-1_run-1,20.97925,0,0.801193,0.533877,0.222807,0.514203,0.857371,0.413526,24.676155,8.851042,1.740504,2.077457,1.826451,1.954461,26.8471,90.434674,88.321734,66.586929,79.749365
46,sub-59147_1_ses-1_run-1,23.483607,0,0.690963,0.455725,0.235655,0.50088,0.831647,1.318366,18.497265,6.29723,1.816551,2.086434,1.675496,1.988804,22.692343,82.118564,72.246546,59.365895,66.601275

In [30]:
TOP_transformed.to_csv('../open_work/internal_results/autocombat/autocom_harm_top1.csv')
MRI_transformed.to_csv('../open_work/internal_results/autocombat/autocom_harm_mri1.csv')

fg_TOP_transformed.to_csv('../open_work/internal_results/autocombat/fg_autocom_harm_top1.csv')
fg_MRI_transformed.to_csv('../open_work/internal_results/autocombat/fg_autocom_harm_mri1.csv')

# Now we will harmonize TOPMRI as one dataset agains sabre

In [31]:
TOPMRI4 = TOPMRI.copy()
TOPMRI4['site'] = 0
TOPMRI4.site.unique()

array([0], dtype=int64)

In [32]:
TOPMRI4.columns

Index(['index', 'Unnamed: 0', 'participant_id', 'age', 'sex', 'gm_vol',
       'wm_vol', 'csf_vol', 'gm_ivc_ratio', 'gmwm_ivc_ratio', 'wmh_vol',
       'wmh_count', 'deepwm_b_cov', 'aca_b_cov', 'mca_b_cov', 'pca_b_cov',
       'totalgm_b_cov', 'deepwm_b', 'aca_b', 'mca_b', 'pca_b', 'totalgm_b',
       'site', 'decade', 'fine_grain'],
      dtype='object')

In [33]:
SABRE['site'] = 1

In [34]:
#SABRE.isna().sum()

In [35]:
SABRE['decade']=(SABRE['age']/10).round()
#SABRE['decade']

In [36]:
SABRE = SABRE.assign(sex = SABRE.sex.map(sex_mapping))
SABRE.head(3)

,Unnamed: 0,participant_id,age,sex,gm_vol,wm_vol,csf_vol,gm_ivc_ratio,gmwm_ivc_ratio,wmh_vol,...,mca_b_cov,pca_b_cov,totalgm_b_cov,deepwm_b,aca_b,mca_b,pca_b,totalgm_b,site,decade
0,0,sub-100096_1_ses-1_run-1,78,1,0.56201,0.44945,0.42419,0.39147,0.39147,4.621,...,3.8956,4.3534,3.6690,15.3022,71.6047,62.0948,43.2926,54.7345,1,8.0
1,1,sub-100331_1_ses-1_run-1,71,1,0.53812,0.42593,0.49319,0.36927,0.36927,1.085,...,4.1134,3.8613,3.7593,11.3323,37.0396,30.0755,25.5827,29.7665,1,7.0
2,2,sub-102285_1_ses-1_run-1,72,1,0.56881,0.49224,0.35808,0.40082,0.40082,1.956,...,4.4410,3.9533,3.9991,14.2770,51.7767,41.2339,33.5018,39.2296,1,7.0

In [37]:
TOPMRI4SABRE =pd.concat([TOPMRI4, SABRE])

In [38]:
TOPMRI4SABRE = TOPMRI4SABRE.sort_values(by='age')
TOPMRI4SABRE.reset_index(inplace=True)
TOPMRI4SABRE['fine_grain'] = TOPMRI4SABRE['age'].rolling(2).sum()/2
TOPMRI4SABRE.head(5)

,level_0,index,Unnamed: 0,participant_id,age,sex,gm_vol,wm_vol,csf_vol,gm_ivc_ratio,...,pca_b_cov,totalgm_b_cov,deepwm_b,aca_b,mca_b,pca_b,totalgm_b,site,decade,fine_grain
0,0,160.0,162,sub-0386_1_ses-1_run-1,17.72,1,0.74748,0.51253,0.27752,0.48616,...,1.9367,2.0112,29.3651,92.1953,90.6503,69.6621,78.2365,0,2.0,NaN
1,1,138.0,140,sub-0337_1_ses-1_run-1,18.15,0,0.71192,0.44128,0.18879,0.53050,...,1.6112,1.9346,25.3803,96.9371,90.1128,68.7717,82.3039,0,2.0,17.935
2,2,258.0,260,sub-0628_1_ses-1_run-1,18.49,1,0.87205,0.53199,0.23792,0.53110,...,1.3563,1.8311,22.0632,83.9347,76.7863,58.3540,71.0527,0,2.0,18.320
3,3,235.0,237,sub-0572_1_ses-1_run-1,18.52,1,0.83028,0.55224,0.25634,0.50662,...,1.7692,2.2109,20.1844,80.9688,79.7358,54.7033,69.2221,0,2.0,18.505
4,4,436.0,439,sub-1035_1_ses-1_run-1,18.97,0,0.77462,0.53901,0.17811,0.51927,...,1.7015,2.0887,21.8383,92.4112,88.5455,66.2755,80.1456,0,2.0,18.745

In [39]:
TOPMRI4SABRE[:].fine_grain.iloc[::2] = TOPMRI4SABRE[:].fine_grain.iloc[1::2]
TOPMRI4SABRE['fine_grain']

C:\Users\CandaceMoore\miniconda3\envs\comscan6\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

0       17.935000
1       17.935000
2       18.505000
3       18.505000
4       18.985000
          ...
1725    89.000000
1726    90.000000
1727    90.000000
1728    93.358904
1729    93.358904
Name: fine_grain, Length: 1730, dtype: float64

In [40]:
print(combat.fit(TOPMRI4SABRE))
print(fg_combat.fit(TOPMRI4SABRE))

Combat(continuous_covariates=['decade'], discrete_covariates=['sex'],
       features=['gm_vol', 'wm_vol', 'csf_vol', 'gm_ivc_ratio',
                 'gmwm_ivc_ratio', 'wmh_vol', 'wmh_count', 'deepwm_b_cov',
                 'aca_b_cov', 'mca_b_cov', 'pca_b_cov', 'totalgm_b_cov',
                 'deepwm_b', 'aca_b', 'mca_b', 'pca_b', 'totalgm_b'],
       sites=['site'])
Combat(continuous_covariates=['fine_grain'], discrete_covariates=['sex'],
       features=['gm_vol', 'wm_vol', 'csf_vol', 'gm_ivc_ratio',
                 'gmwm_ivc_ratio', 'wmh_vol', 'wmh_count', 'deepwm_b_cov',
                 'aca_b_cov', 'mca_b_cov', 'pca_b_cov', 'totalgm_b_cov',
                 'deepwm_b', 'aca_b', 'mca_b', 'pca_b', 'totalgm_b'],
       sites=['site'])

In [41]:
print(combat.gamma_star_)
print(fg_combat.gamma_star_)

[[ 0.66053884  0.40311871  0.49644578 -0.0772335   4.79434276  0.29354482
   0.17578225 -0.86820476 -0.28745486 -0.22482439 -0.3469637  -0.26786419
   0.59725012  0.47147367  0.49410212  0.35782756  0.38976915]
 [-0.99807061 -0.60906244 -0.75005946  0.11668345 -7.24594236 -0.44355606
  -0.26567203  1.30975293  0.43317019  0.33863416  0.52299458  0.40359897
  -0.90262063 -0.71238462 -0.7466018  -0.54059214 -0.58887419]]
[[ 0.65785725  0.40140128  0.51930919 -0.10124789  4.94919973  0.31138048
   0.18587098 -0.87751526 -0.28343731 -0.22350897 -0.34579727 -0.26697867
   0.60024159  0.46865862  0.49076688  0.35691365  0.38669792]
 [-0.9940079  -0.60646453 -0.78460022  0.15293762 -7.47975444 -0.47049868
  -0.28090961  1.32391013  0.42715664  0.33669359  0.52128919  0.40231098
  -0.90711755 -0.70812017 -0.74154792 -0.53920579 -0.58422444]]

In [42]:
transformed_TOPMRI4SABRE= combat.transform(TOPMRI4SABRE)
transformed_TOPMRI4SABRE.head(3)

,level_0,index,Unnamed: 0,participant_id,age,sex,gm_vol,wm_vol,csf_vol,gm_ivc_ratio,...,pca_b_cov,totalgm_b_cov,deepwm_b,aca_b,mca_b,pca_b,totalgm_b,site,decade,fine_grain
0,0,160.0,162,sub-0386_1_ses-1_run-1,17.72,1,0.716151,0.490991,0.246993,0.488494,...,4.270453,2.876938,23.58318,85.424786,83.33631,64.942199,73.204363,0,2.0,17.935
1,1,138.0,140,sub-0337_1_ses-1_run-1,18.15,0,0.680213,0.419043,0.144489,0.537353,...,2.101493,2.210065,20.335692,89.739247,82.861139,64.134781,76.820543,0,2.0,17.935
2,2,258.0,260,sub-0628_1_ses-1_run-1,18.49,1,0.842044,0.510641,0.201246,0.538014,...,0.402975,1.309004,17.632359,77.908644,71.079982,54.687974,66.817502,0,2.0,18.505

In [43]:
fg_transformed_TOPMRI4SABRE= fg_combat.transform(TOPMRI4SABRE)
fg_transformed_TOPMRI4SABRE.head(3)

,level_0,index,Unnamed: 0,participant_id,age,sex,gm_vol,wm_vol,csf_vol,gm_ivc_ratio,...,pca_b_cov,totalgm_b_cov,deepwm_b,aca_b,mca_b,pca_b,totalgm_b,site,decade,fine_grain
0,0,160.0,162,sub-0386_1_ses-1_run-1,17.72,1,0.71651,0.491093,0.248462,0.488218,...,4.467612,2.98193,23.533384,85.5787,83.533284,65.020481,73.378457,0,2.0,17.935
1,1,138.0,140,sub-0337_1_ses-1_run-1,18.15,0,0.680425,0.419177,0.145182,0.537963,...,2.295881,2.315796,20.285482,89.889339,83.05876,64.213745,76.990983,0,2.0,17.935
2,2,258.0,260,sub-0628_1_ses-1_run-1,18.49,1,0.842922,0.510735,0.202368,0.538636,...,0.595193,1.415731,17.581803,78.069216,71.293663,54.774915,66.998051,0,2.0,18.505

In [44]:
TOPMRI4_transformed = transformed_TOPMRI4SABRE[ transformed_TOPMRI4SABRE['site']==0]
TOPMRI4_transformed = TOPMRI4_transformed.drop(['site', 'decade', 'Unnamed: 0', 'fine_grain', 'index', 'level_0'], axis=1)
TOPMRI4_transformed.head(2)

,participant_id,age,sex,gm_vol,wm_vol,csf_vol,gm_ivc_ratio,gmwm_ivc_ratio,wmh_vol,wmh_count,deepwm_b_cov,aca_b_cov,mca_b_cov,pca_b_cov,totalgm_b_cov,deepwm_b,aca_b,mca_b,pca_b,totalgm_b
0,sub-0386_1_ses-1_run-1,17.72,1,0.716151,0.490991,0.246993,0.488494,0.691107,-0.441757,18.239577,-1.994143,1.347101,2.611468,4.270453,2.876938,23.58318,85.424786,83.33631,64.942199,73.204363
1,sub-0337_1_ses-1_run-1,18.15,0,0.680213,0.419043,0.144489,0.537353,0.729282,-0.591573,18.239577,5.741978,2.154559,1.847113,2.101493,2.210065,20.335692,89.739247,82.861139,64.134781,76.820543

In [45]:
fg_TOPMRI4_transformed = fg_transformed_TOPMRI4SABRE[fg_transformed_TOPMRI4SABRE['site']==0]
fg_TOPMRI4_transformed = fg_TOPMRI4_transformed.drop(['site', 'decade', 'Unnamed: 0', 'fine_grain', 'index','level_0'], axis=1)
fg_TOPMRI4_transformed.head(3)

,participant_id,age,sex,gm_vol,wm_vol,csf_vol,gm_ivc_ratio,gmwm_ivc_ratio,wmh_vol,wmh_count,deepwm_b_cov,aca_b_cov,mca_b_cov,pca_b_cov,totalgm_b_cov,deepwm_b,aca_b,mca_b,pca_b,totalgm_b
0,sub-0386_1_ses-1_run-1,17.72,1,0.71651,0.491093,0.248462,0.488218,0.691871,-0.221393,18.436808,-3.867751,1.751344,2.815731,4.467612,2.98193,23.533384,85.5787,83.533284,65.020481,73.378457
1,sub-0337_1_ses-1_run-1,18.15,0,0.680425,0.419177,0.145182,0.537963,0.730256,-0.371287,18.436808,3.748881,2.555339,2.052964,2.295881,2.315796,20.285482,89.889339,83.05876,64.213745,76.990983
2,sub-0628_1_ses-1_run-1,18.49,1,0.842922,0.510735,0.202368,0.538636,0.726188,0.113081,32.041857,3.294903,2.545092,2.716044,0.595193,1.415731,17.581803,78.069216,71.293663,54.774915,66.998051

In [46]:
SABRE_transformed = transformed_TOPMRI4SABRE[ transformed_TOPMRI4SABRE['site']==1]
SABRE_transformed = SABRE_transformed.drop(['site', 'decade', 'Unnamed: 0', 'fine_grain', 'index', 'level_0'], axis=1)
SABRE_transformed.head(2)

,participant_id,age,sex,gm_vol,wm_vol,csf_vol,gm_ivc_ratio,gmwm_ivc_ratio,wmh_vol,wmh_count,deepwm_b_cov,aca_b_cov,mca_b_cov,pca_b_cov,totalgm_b_cov,deepwm_b,aca_b,mca_b,pca_b,totalgm_b
290,sub-500609_1_ses-1_run-1,37.0,0,0.625667,0.532127,0.284415,0.439167,0.62605,3.154678,16.273378,22.668118,2.486998,2.691247,2.100281,2.471562,34.161054,91.568229,82.448016,66.190476,73.961672
512,sub-502358_1_ses-1_run-1,46.0,0,0.615871,0.479114,0.326211,0.43676,0.623145,2.91576,14.653194,24.741423,2.222912,2.693147,1.806784,2.35438,17.880507,70.836136,63.361557,60.534136,59.183794

In [47]:
fg_SABRE_transformed = fg_transformed_TOPMRI4SABRE[fg_transformed_TOPMRI4SABRE['site']==1]
fg_SABRE_transformed = fg_SABRE_transformed.drop(['site', 'decade', 'Unnamed: 0', 'fine_grain', 'index', 'level_0'], axis=1)
fg_SABRE_transformed.head(3)

,participant_id,age,sex,gm_vol,wm_vol,csf_vol,gm_ivc_ratio,gmwm_ivc_ratio,wmh_vol,wmh_count,deepwm_b_cov,aca_b_cov,mca_b_cov,pca_b_cov,totalgm_b_cov,deepwm_b,aca_b,mca_b,pca_b,totalgm_b
290,sub-500609_1_ses-1_run-1,37.0,0,0.62567,0.532006,0.282975,0.44023,0.625429,3.007565,16.142356,22.861767,2.471744,2.686304,2.089133,2.467666,34.384482,91.245478,81.941972,66.016855,73.530344
512,sub-502358_1_ses-1_run-1,46.0,0,0.615931,0.478961,0.324518,0.437863,0.622553,2.768729,14.521472,24.936049,2.207643,2.688204,1.795636,2.350481,18.12761,70.466266,62.770632,60.347973,58.706442
570,sub-503171_1_ses-1_run-1,49.0,0,0.631312,0.478045,0.301275,0.452186,0.639955,2.57847,16.142356,30.066957,2.248093,2.495634,2.026527,2.290144,14.608528,67.949873,59.741583,49.89331,54.3385

In [48]:
TOPMRI4_transformed.to_csv('../open_work/internal_results/autocombat/autocom_harm_top_and_mri_against_sabre.csv')
SABRE_transformed.to_csv('../open_work/internal_results/autocombat/autocom_harm_sabre_against_top_and_mri.csv')

fg_TOPMRI4_transformed.to_csv('../open_work/internal_results/autocombat/fg_autocom_harm_top_and_mri_against_sabre.csv')
fg_SABRE_transformed.to_csv('../open_work/internal_results/autocombat/fg_autocom_harm_sabre_against_top_and_mri.csv')

# Now the same with TOPMRI and Inisght46

In [49]:
Insight46['site'] = 1

In [50]:
Insight46.isna().sum()

Unnamed: 0        0
participant_id    0
age               0
sex               0
gm_vol            0
wm_vol            0
csf_vol           0
gm_ivc_ratio      0
gmwm_ivc_ratio    0
wmh_vol           0
wmh_count         0
deepwm_b_cov      0
aca_b_cov         0
mca_b_cov         0
pca_b_cov         0
totalgm_b_cov     0
deepwm_b          0
aca_b             0
mca_b             0
pca_b             0
totalgm_b         0
site              0
dtype: int64

In [51]:
Insight46['decade']=(Insight46['age']/10).round()
Insight46['decade']

0      7.0
1      7.0
2      7.0
3      7.0
4      7.0
      ...
277    7.0
278    7.0
279    7.0
280    7.0
281    7.0
Name: decade, Length: 282, dtype: float64

In [52]:
Insight46 = Insight46.assign(sex = Insight46.sex.map(sex_mapping))
Insight46.head(3)

,Unnamed: 0,participant_id,age,sex,gm_vol,wm_vol,csf_vol,gm_ivc_ratio,gmwm_ivc_ratio,wmh_vol,...,mca_b_cov,pca_b_cov,totalgm_b_cov,deepwm_b,aca_b,mca_b,pca_b,totalgm_b,site,decade
0,0,sub-10015124_1_ses-1_run-1,69.733333,0,0.56794,0.47687,0.34052,0.40997,0.75420,4.889,...,2.6976,2.9089,2.7193,35.4184,98.9688,95.3166,78.4416,82.1259,1,7.0
1,1,sub-10024822_1_ses-1_run-1,70.288889,0,0.54998,0.41823,0.39773,0.40264,0.70882,24.116,...,2.6274,3.5953,3.0085,39.2905,143.9933,150.7895,105.6454,115.6007,1,7.0
2,2,sub-10075012_1_ses-1_run-1,69.883333,1,0.66598,0.52698,0.41649,0.41379,0.74122,3.006,...,3.1185,3.3201,3.1605,17.6784,72.9898,61.8006,56.8064,57.7452,1,7.0

In [53]:
Insight46.head(3)

,Unnamed: 0,participant_id,age,sex,gm_vol,wm_vol,csf_vol,gm_ivc_ratio,gmwm_ivc_ratio,wmh_vol,...,mca_b_cov,pca_b_cov,totalgm_b_cov,deepwm_b,aca_b,mca_b,pca_b,totalgm_b,site,decade
0,0,sub-10015124_1_ses-1_run-1,69.733333,0,0.56794,0.47687,0.34052,0.40997,0.75420,4.889,...,2.6976,2.9089,2.7193,35.4184,98.9688,95.3166,78.4416,82.1259,1,7.0
1,1,sub-10024822_1_ses-1_run-1,70.288889,0,0.54998,0.41823,0.39773,0.40264,0.70882,24.116,...,2.6274,3.5953,3.0085,39.2905,143.9933,150.7895,105.6454,115.6007,1,7.0
2,2,sub-10075012_1_ses-1_run-1,69.883333,1,0.66598,0.52698,0.41649,0.41379,0.74122,3.006,...,3.1185,3.3201,3.1605,17.6784,72.9898,61.8006,56.8064,57.7452,1,7.0

In [54]:
TOPMRI4Insight =pd.concat([TOPMRI4, Insight46])

In [55]:
TOPMRI4Insight = TOPMRI4Insight.sort_values(by='age')
TOPMRI4Insight.reset_index(inplace=True)
TOPMRI4Insight['fine_grain'] = TOPMRI4Insight['age'].rolling(2).sum()/2
TOPMRI4Insight.head(3)

,level_0,index,Unnamed: 0,participant_id,age,sex,gm_vol,wm_vol,csf_vol,gm_ivc_ratio,...,pca_b_cov,totalgm_b_cov,deepwm_b,aca_b,mca_b,pca_b,totalgm_b,site,decade,fine_grain
0,0,160.0,162,sub-0386_1_ses-1_run-1,17.72,1,0.74748,0.51253,0.27752,0.48616,...,1.9367,2.0112,29.3651,92.1953,90.6503,69.6621,78.2365,0,2.0,NaN
1,1,138.0,140,sub-0337_1_ses-1_run-1,18.15,0,0.71192,0.44128,0.18879,0.53050,...,1.6112,1.9346,25.3803,96.9371,90.1128,68.7717,82.3039,0,2.0,17.935
2,2,258.0,260,sub-0628_1_ses-1_run-1,18.49,1,0.87205,0.53199,0.23792,0.53110,...,1.3563,1.8311,22.0632,83.9347,76.7863,58.3540,71.0527,0,2.0,18.320

In [56]:
TOPMRI4Insight[2:].fine_grain.iloc[::2] = TOPMRI4Insight[:].fine_grain.iloc[1::2]
TOPMRI4Insight['fine_grain']

C:\Users\CandaceMoore\miniconda3\envs\comscan6\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

0             NaN
1       17.935000
2       17.935000
3       18.505000
4       18.505000
          ...
1318    83.993001
1319    85.325402
1320    85.325402
1321    88.932727
1322    88.932727
Name: fine_grain, Length: 1323, dtype: float64

In [57]:
TOPMRI4Insight['fine_grain'][0] = TOPMRI4Insight['fine_grain'][1]
TOPMRI4Insight['fine_grain']

C:\Users\CandaceMoore\miniconda3\envs\comscan6\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

0       17.935000
1       17.935000
2       17.935000
3       18.505000
4       18.505000
          ...
1318    83.993001
1319    85.325402
1320    85.325402
1321    88.932727
1322    88.932727
Name: fine_grain, Length: 1323, dtype: float64

In [58]:
print(combat.fit(TOPMRI4Insight))
print(fg_combat.fit(TOPMRI4Insight))

Combat(continuous_covariates=['decade'], discrete_covariates=['sex'],
       features=['gm_vol', 'wm_vol', 'csf_vol', 'gm_ivc_ratio',
                 'gmwm_ivc_ratio', 'wmh_vol', 'wmh_count', 'deepwm_b_cov',
                 'aca_b_cov', 'mca_b_cov', 'pca_b_cov', 'totalgm_b_cov',
                 'deepwm_b', 'aca_b', 'mca_b', 'pca_b', 'totalgm_b'],
       sites=['site'])
Combat(continuous_covariates=['fine_grain'], discrete_covariates=['sex'],
       features=['gm_vol', 'wm_vol', 'csf_vol', 'gm_ivc_ratio',
                 'gmwm_ivc_ratio', 'wmh_vol', 'wmh_count', 'deepwm_b_cov',
                 'aca_b_cov', 'mca_b_cov', 'pca_b_cov', 'totalgm_b_cov',
                 'deepwm_b', 'aca_b', 'mca_b', 'pca_b', 'totalgm_b'],
       sites=['site'])

In [59]:
print(combat.gamma_star_)
print(fg_combat.gamma_star_)

[[ 0.05560413  0.05924412  0.17097178 -0.12025518 -0.12702505  0.24614279
   0.16124433 -0.46794122 -0.39835395 -0.36620414 -0.48107    -0.40859395
   0.07898998 -0.02665253 -0.07050867 -0.05446896 -0.0353667 ]
 [-0.21308474 -0.22641961 -0.64322418  0.4447462   0.46989061 -0.92256719
  -0.60511165  1.70187123  1.45007601  1.33353307  1.75328763  1.48734138
  -0.30207515  0.09579472  0.25916748  0.19942871  0.12792746]]
[[ 0.04012766  0.05649023  0.19380806 -0.15421318 -0.15444201  0.26093375
   0.16860581 -0.47221593 -0.39755122 -0.36658502 -0.47922997 -0.40888217
   0.08118376 -0.03104177 -0.07555579 -0.05759824 -0.04084751]
 [-0.15501801 -0.21604628 -0.72797117  0.57145619  0.57197174 -0.97726947
  -0.63235333  1.71822738  1.44796433  1.33564948  1.74741053  1.48919759
  -0.31016321  0.11211508  0.27789532  0.21102322  0.14832542]]

In [60]:
transformed_TOPMRI4Insight= combat.transform(TOPMRI4Insight)
transformed_TOPMRI4Insight.head(3)

,level_0,index,Unnamed: 0,participant_id,age,sex,gm_vol,wm_vol,csf_vol,gm_ivc_ratio,...,pca_b_cov,totalgm_b_cov,deepwm_b,aca_b,mca_b,pca_b,totalgm_b,site,decade,fine_grain
0,0,160.0,162,sub-0386_1_ses-1_run-1,17.72,1,0.745314,0.510018,0.268325,0.488396,...,2.591794,2.223037,28.334118,92.833214,92.235729,70.76311,78.863105,0,2.0,17.935
1,1,138.0,140,sub-0337_1_ses-1_run-1,18.15,0,0.7103,0.439386,0.179159,0.532017,...,1.739099,1.936799,24.530789,97.810782,91.67155,69.827431,83.044208,0,2.0,17.935
2,2,258.0,260,sub-0628_1_ses-1_run-1,18.49,1,0.867973,0.529309,0.22853,0.532607,...,1.071352,1.55004,21.364752,84.161887,77.68359,58.879963,71.478485,0,2.0,17.935

In [61]:
fg_transformed_TOPMRI4Insight= fg_combat.transform(TOPMRI4Insight)
fg_transformed_TOPMRI4Insight.head(3)

,level_0,index,Unnamed: 0,participant_id,age,sex,gm_vol,wm_vol,csf_vol,gm_ivc_ratio,...,pca_b_cov,totalgm_b_cov,deepwm_b,aca_b,mca_b,pca_b,totalgm_b,site,decade,fine_grain
0,0,160.0,162,sub-0386_1_ses-1_run-1,17.72,1,0.746087,0.510175,0.267436,0.489017,...,2.627952,2.223235,28.306131,92.850334,92.258306,70.765194,78.906695,0,2.0,17.935
1,1,138.0,140,sub-0337_1_ses-1_run-1,18.15,0,0.710957,0.43954,0.17788,0.533002,...,1.773786,1.937,24.502536,97.828499,91.69394,69.829854,83.088453,0,2.0,17.935
2,2,258.0,260,sub-0628_1_ses-1_run-1,18.49,1,0.86915,0.529467,0.227468,0.533598,...,1.104887,1.550246,21.336277,84.177968,77.701352,58.886358,71.520915,0,2.0,17.935

In [62]:
TOPMRI4_transformed = transformed_TOPMRI4Insight[ transformed_TOPMRI4Insight['site']==0]
TOPMRI4_transformed = TOPMRI4_transformed.drop(['site', 'decade', 'Unnamed: 0', 'fine_grain', 'index', 'level_0'], axis=1)
TOPMRI4_transformed.head(2)

,participant_id,age,sex,gm_vol,wm_vol,csf_vol,gm_ivc_ratio,gmwm_ivc_ratio,wmh_vol,wmh_count,deepwm_b_cov,aca_b_cov,mca_b_cov,pca_b_cov,totalgm_b_cov,deepwm_b,aca_b,mca_b,pca_b,totalgm_b
0,sub-0386_1_ses-1_run-1,17.72,1,0.745314,0.510018,0.268325,0.488396,0.822912,-0.349024,18.315523,-1.790197,1.0666,2.068944,2.591794,2.223037,28.334118,92.833214,92.235729,70.76311,78.863105
1,sub-0337_1_ses-1_run-1,18.15,0,0.7103,0.439386,0.179159,0.532017,0.863312,-0.472728,18.315523,4.988828,1.461021,1.79971,1.739099,1.936799,24.530789,97.810782,91.67155,69.827431,83.044208

In [63]:
fg_TOPMRI4_transformed = fg_transformed_TOPMRI4Insight[fg_transformed_TOPMRI4Insight['site']==0]
fg_TOPMRI4_transformed = fg_TOPMRI4_transformed.drop(['site', 'decade', 'Unnamed: 0', 'fine_grain', 'index', 'level_0'], axis=1)
fg_TOPMRI4_transformed.head(3)

,participant_id,age,sex,gm_vol,wm_vol,csf_vol,gm_ivc_ratio,gmwm_ivc_ratio,wmh_vol,wmh_count,deepwm_b_cov,aca_b_cov,mca_b_cov,pca_b_cov,totalgm_b_cov,deepwm_b,aca_b,mca_b,pca_b,totalgm_b
0,sub-0386_1_ses-1_run-1,17.72,1,0.746087,0.510175,0.267436,0.489017,0.823273,-0.405044,18.274336,-3.011614,1.117886,2.061777,2.627952,2.223235,28.306131,92.850334,92.258306,70.765194,78.906695
1,sub-0337_1_ses-1_run-1,18.15,0,0.710957,0.43954,0.17788,0.533002,0.86397,-0.529022,18.274336,3.871246,1.512336,1.79244,1.773786,1.937,24.502536,97.828499,91.69394,69.829854,83.088453
2,sub-0628_1_ses-1_run-1,18.49,1,0.86915,0.529467,0.227468,0.533598,0.859657,-0.128399,29.64674,3.461004,1.507308,2.026577,1.104887,1.550246,21.336277,84.177968,77.701352,58.886358,71.520915

In [64]:
Insight_transformed = transformed_TOPMRI4Insight[ transformed_TOPMRI4Insight['site']==1]
Insight_transformed = Insight_transformed.drop(['site', 'decade', 'Unnamed: 0', 'fine_grain', 'index', 'level_0'], axis=1)
Insight_transformed.head(2)

,participant_id,age,sex,gm_vol,wm_vol,csf_vol,gm_ivc_ratio,gmwm_ivc_ratio,wmh_vol,wmh_count,deepwm_b_cov,aca_b_cov,mca_b_cov,pca_b_cov,totalgm_b_cov,deepwm_b,aca_b,mca_b,pca_b,totalgm_b
873,sub-18345613_1_ses-1_run-1,69.263889,1,0.643947,0.54952,0.371105,0.409342,0.767309,9.898875,30.878484,8.800512,3.305479,3.053712,2.536093,2.662789,24.010155,55.234879,48.879508,42.587962,45.115408
874,sub-13929827_1_ses-1_run-1,69.272222,0,0.521343,0.422758,0.290169,0.426999,0.775902,7.324736,26.396947,15.336155,2.35083,2.190774,2.689229,2.530877,33.152151,89.068821,76.044601,51.975169,60.748066

In [65]:
fg_Insight_transformed = fg_transformed_TOPMRI4Insight[fg_transformed_TOPMRI4Insight['site']==1]
fg_Insight_transformed = fg_Insight_transformed.drop(['site', 'decade', 'Unnamed: 0', 'fine_grain', 'index', 'level_0'], axis=1)
fg_Insight_transformed.head(3)

,participant_id,age,sex,gm_vol,wm_vol,csf_vol,gm_ivc_ratio,gmwm_ivc_ratio,wmh_vol,wmh_count,deepwm_b_cov,aca_b_cov,mca_b_cov,pca_b_cov,totalgm_b_cov,deepwm_b,aca_b,mca_b,pca_b,totalgm_b
873,sub-18345613_1_ses-1_run-1,69.263889,1,0.642364,0.548923,0.37265,0.409634,0.767314,10.016848,30.997278,8.942423,3.296684,3.05431,2.526161,2.662101,24.147374,55.184026,48.837406,42.548149,44.989575
874,sub-13929827_1_ses-1_run-1,69.272222,0,0.521436,0.422208,0.292912,0.426701,0.775714,7.459901,26.521736,15.473521,2.341987,2.191343,2.67927,2.530181,33.282013,89.003989,75.977244,51.942544,60.612919
875,sub-11630017_1_ses-1_run-1,69.275,1,0.687762,0.558694,0.415314,0.411201,0.754391,7.831737,31.892387,12.495143,2.776749,3.326868,2.513861,3.017621,21.883295,68.049399,63.560354,51.964879,54.748722

In [66]:
TOPMRI4_transformed.to_csv('../open_work/internal_results/autocombat/autocom_harm_top_and_mri_against_insight.csv')
Insight_transformed.to_csv('../open_work/internal_results/autocombat/autocom_harm_insight_against_top_and_mri.csv')

fg_TOPMRI4_transformed.to_csv('../open_work/internal_results/autocombat/fg_autocom_harm_top_and_mri_against_sabre.csv')
fg_Insight_transformed.to_csv('../open_work/internal_results/autocombat/fg_autocom_harm_inisght_against_top_and_mri.csv')

# Now we harmonize TOPMRI against both SABRE and Insight

In [67]:
Insight46['site'] = 3

In [68]:
SABRE['site'] = 4

In [69]:
TOPMRI6ALL =pd.concat([TOPMRI4, Insight46, SABRE])

In [70]:
TOPMRI6ALL = TOPMRI6ALL.sort_values(by='age')
TOPMRI6ALL.reset_index(inplace=True)
TOPMRI6ALL['fine_grain'] = TOPMRI6ALL['age'].rolling(2).sum()/2
TOPMRI6ALL.head(3)

,level_0,index,Unnamed: 0,participant_id,age,sex,gm_vol,wm_vol,csf_vol,gm_ivc_ratio,...,pca_b_cov,totalgm_b_cov,deepwm_b,aca_b,mca_b,pca_b,totalgm_b,site,decade,fine_grain
0,0,160.0,162,sub-0386_1_ses-1_run-1,17.72,1,0.74748,0.51253,0.27752,0.48616,...,1.9367,2.0112,29.3651,92.1953,90.6503,69.6621,78.2365,0,2.0,NaN
1,1,138.0,140,sub-0337_1_ses-1_run-1,18.15,0,0.71192,0.44128,0.18879,0.53050,...,1.6112,1.9346,25.3803,96.9371,90.1128,68.7717,82.3039,0,2.0,17.935
2,2,258.0,260,sub-0628_1_ses-1_run-1,18.49,1,0.87205,0.53199,0.23792,0.53110,...,1.3563,1.8311,22.0632,83.9347,76.7863,58.3540,71.0527,0,2.0,18.320

In [71]:
TOPMRI6ALL[:].fine_grain.iloc[::2] = TOPMRI6ALL[:].fine_grain.iloc[1::2]
TOPMRI6ALL['fine_grain']

C:\Users\CandaceMoore\miniconda3\envs\comscan6\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

0       17.935000
1       17.935000
2       18.505000
3       18.505000
4       18.985000
          ...
2007    89.000000
2008    90.000000
2009    90.000000
2010    93.358904
2011    93.358904
Name: fine_grain, Length: 2012, dtype: float64

In [72]:
print(combat.fit(TOPMRI6ALL))
print(fg_combat.fit(TOPMRI6ALL))

Combat(continuous_covariates=['decade'], discrete_covariates=['sex'],
       features=['gm_vol', 'wm_vol', 'csf_vol', 'gm_ivc_ratio',
                 'gmwm_ivc_ratio', 'wmh_vol', 'wmh_count', 'deepwm_b_cov',
                 'aca_b_cov', 'mca_b_cov', 'pca_b_cov', 'totalgm_b_cov',
                 'deepwm_b', 'aca_b', 'mca_b', 'pca_b', 'totalgm_b'],
       sites=['site'])
Combat(continuous_covariates=['fine_grain'], discrete_covariates=['sex'],
       features=['gm_vol', 'wm_vol', 'csf_vol', 'gm_ivc_ratio',
                 'gmwm_ivc_ratio', 'wmh_vol', 'wmh_count', 'deepwm_b_cov',
                 'aca_b_cov', 'mca_b_cov', 'pca_b_cov', 'totalgm_b_cov',
                 'deepwm_b', 'aca_b', 'mca_b', 'pca_b', 'totalgm_b'],
       sites=['site'])

In [73]:
print(combat.gamma_star_)
print(fg_combat.gamma_star_)

[[ 0.61823065  0.38040206  0.53862022 -0.13346988  3.97765737  0.39992788
   0.25034356 -0.89152732 -0.36935997 -0.26758986 -0.42591794 -0.34044416
   0.57476827  0.36583395  0.3467552   0.25747837  0.29977183]
 [ 0.30506119  0.16122718 -0.20096908  0.32870514  4.5046751  -0.62977454
  -0.44848857  0.84313001  0.52995663  0.20062521  0.43529664  0.42246106
   0.1299675   0.43960593  0.66485986  0.46499296  0.4094745 ]
 [-1.05897943 -0.64045767 -0.73106072  0.0674215  -7.86207173 -0.34565973
  -0.19391128  0.99977554  0.34014389  0.32123595  0.46424612  0.34050116
  -0.92169067 -0.73257918 -0.79636482 -0.57918652 -0.62031758]]
[[ 0.60367733  0.3760006   0.57302297 -0.17583209  4.06791967  0.42738344
   0.26642809 -0.90255245 -0.36410518 -0.2657027  -0.42392354 -0.33905985
   0.57836469  0.35910381  0.33882989  0.25349609  0.29204749]
 [ 0.36976599  0.17657772 -0.27003955  0.43498994  4.7382458  -0.68540974
  -0.48151228  0.86488277  0.52301527  0.19834786  0.43075697  0.42049052
   0.12447372  0.46183163  0.69166143  0.48173455  0.43615718]
 [-1.06349721 -0.64011196 -0.75476019  0.08784475 -8.09382199 -0.36440084
  -0.20474002  1.0076752   0.33512314  0.31935661  0.46315121  0.33926868
  -0.92486918 -0.7315084  -0.79532351 -0.58001558 -0.6195793 ]]

In [74]:
transformed_TOPMRI6ALL= combat.transform(TOPMRI6ALL)
transformed_TOPMRI6ALL.head(3)

,level_0,index,Unnamed: 0,participant_id,age,sex,gm_vol,wm_vol,csf_vol,gm_ivc_ratio,...,pca_b_cov,totalgm_b_cov,deepwm_b,aca_b,mca_b,pca_b,totalgm_b,site,decade,fine_grain
0,0,160.0,162,sub-0386_1_ses-1_run-1,17.72,1,0.718774,0.492824,0.244754,0.489522,...,3.989351,2.539617,23.649571,86.677719,85.379663,66.253045,74.213335,0,2.0,17.935
1,1,138.0,140,sub-0337_1_ses-1_run-1,18.15,0,0.683294,0.421473,0.143927,0.537328,...,1.921931,1.918713,20.429637,91.269688,84.871143,65.394935,78.011014,0,2.0,17.935
2,2,258.0,260,sub-0628_1_ses-1_run-1,18.49,1,0.843062,0.512312,0.199755,0.537975,...,0.302928,1.079763,17.749242,78.678137,72.263142,55.355022,67.505914,0,2.0,18.505

In [75]:
fg_transformed_TOPMRI6ALL= fg_combat.transform(TOPMRI6ALL)
fg_transformed_TOPMRI6ALL.head(3)

,level_0,index,Unnamed: 0,participant_id,age,sex,gm_vol,wm_vol,csf_vol,gm_ivc_ratio,...,pca_b_cov,totalgm_b_cov,deepwm_b,aca_b,mca_b,pca_b,totalgm_b,site,decade,fine_grain
0,0,160.0,162,sub-0386_1_ses-1_run-1,17.72,1,0.719688,0.493086,0.245293,0.489747,...,4.173327,2.644216,23.595676,86.820044,85.557813,66.32529,74.390995,0,2.0,17.935
1,1,138.0,140,sub-0337_1_ses-1_run-1,18.15,0,0.684013,0.421765,0.143596,0.53854,...,2.104273,2.023964,20.375205,91.408514,85.0498,65.468021,78.185571,0,2.0,17.935
2,2,258.0,260,sub-0628_1_ses-1_run-1,18.49,1,0.844662,0.512565,0.199906,0.539201,...,0.483991,1.185895,17.694362,78.826557,72.454385,55.437962,67.689055,0,2.0,18.505

In [76]:
TOPMRI6_transformed =  transformed_TOPMRI6ALL[ transformed_TOPMRI6ALL['site']==0]
TOPMRI6_transformed.head(2)

,level_0,index,Unnamed: 0,participant_id,age,sex,gm_vol,wm_vol,csf_vol,gm_ivc_ratio,...,pca_b_cov,totalgm_b_cov,deepwm_b,aca_b,mca_b,pca_b,totalgm_b,site,decade,fine_grain
0,0,160.0,162,sub-0386_1_ses-1_run-1,17.72,1,0.718774,0.492824,0.244754,0.489522,...,3.989351,2.539617,23.649571,86.677719,85.379663,66.253045,74.213335,0,2.0,17.935
1,1,138.0,140,sub-0337_1_ses-1_run-1,18.15,0,0.683294,0.421473,0.143927,0.537328,...,1.921931,1.918713,20.429637,91.269688,84.871143,65.394935,78.011014,0,2.0,17.935

In [77]:
TOPMRI6_transformed.columns

Index(['level_0', 'index', 'Unnamed: 0', 'participant_id', 'age', 'sex',
       'gm_vol', 'wm_vol', 'csf_vol', 'gm_ivc_ratio', 'gmwm_ivc_ratio',
       'wmh_vol', 'wmh_count', 'deepwm_b_cov', 'aca_b_cov', 'mca_b_cov',
       'pca_b_cov', 'totalgm_b_cov', 'deepwm_b', 'aca_b', 'mca_b', 'pca_b',
       'totalgm_b', 'site', 'decade', 'fine_grain'],
      dtype='object')

In [78]:
fg_TOPMRI6_transformed =  fg_transformed_TOPMRI6ALL[ fg_transformed_TOPMRI6ALL['site']==0]
fg_TOPMRI6_transformed.head(2)

,level_0,index,Unnamed: 0,participant_id,age,sex,gm_vol,wm_vol,csf_vol,gm_ivc_ratio,...,pca_b_cov,totalgm_b_cov,deepwm_b,aca_b,mca_b,pca_b,totalgm_b,site,decade,fine_grain
0,0,160.0,162,sub-0386_1_ses-1_run-1,17.72,1,0.719688,0.493086,0.245293,0.489747,...,4.173327,2.644216,23.595676,86.820044,85.557813,66.32529,74.390995,0,2.0,17.935
1,1,138.0,140,sub-0337_1_ses-1_run-1,18.15,0,0.684013,0.421765,0.143596,0.53854,...,2.104273,2.023964,20.375205,91.408514,85.0498,65.468021,78.185571,0,2.0,17.935

In [79]:
TOPMRI6_transformed =TOPMRI6_transformed.drop(['site', 'decade', 'Unnamed: 0', 'fine_grain', 'index','level_0'], axis=1)
TOPMRI6_transformed.head(2)

,participant_id,age,sex,gm_vol,wm_vol,csf_vol,gm_ivc_ratio,gmwm_ivc_ratio,wmh_vol,wmh_count,deepwm_b_cov,aca_b_cov,mca_b_cov,pca_b_cov,totalgm_b_cov,deepwm_b,aca_b,mca_b,pca_b,totalgm_b
0,sub-0386_1_ses-1_run-1,17.72,1,0.718774,0.492824,0.244754,0.489522,0.711089,-1.359288,17.304088,-5.029308,0.795767,2.143852,3.989351,2.539617,23.649571,86.677719,85.379663,66.253045,74.213335
1,sub-0337_1_ses-1_run-1,18.15,0,0.683294,0.421473,0.143927,0.537328,0.749899,-1.506734,17.304088,3.551584,1.601471,1.439507,1.921931,1.918713,20.429637,91.269688,84.871143,65.394935,78.011014

In [80]:
fg_TOPMRI6_transformed =fg_TOPMRI6_transformed.drop(['site', 'decade', 'Unnamed: 0', 'fine_grain', 'index','level_0'], axis=1)
fg_TOPMRI6_transformed.head(2)

,participant_id,age,sex,gm_vol,wm_vol,csf_vol,gm_ivc_ratio,gmwm_ivc_ratio,wmh_vol,wmh_count,deepwm_b_cov,aca_b_cov,mca_b_cov,pca_b_cov,totalgm_b_cov,deepwm_b,aca_b,mca_b,pca_b,totalgm_b
0,sub-0386_1_ses-1_run-1,17.72,1,0.719688,0.493086,0.245293,0.489747,0.712046,-1.232774,17.418258,-7.210846,1.203446,2.343084,4.173327,2.644216,23.595676,86.820044,85.557813,66.32529,74.390995
1,sub-0337_1_ses-1_run-1,18.15,0,0.684013,0.421765,0.143596,0.53854,0.751246,-1.380427,17.418258,1.268967,2.006211,1.640047,2.104273,2.023964,20.375205,91.408514,85.0498,65.468021,78.185571

In [81]:
Inisght2_transformed = transformed_TOPMRI6ALL[ transformed_TOPMRI6ALL['site']==3]
Inisght2_transformed = Inisght2_transformed.drop(['site', 'decade', 'Unnamed: 0', 'index', 'fine_grain', 'level_0'], axis=1)
Inisght2_transformed.head(2)

,participant_id,age,sex,gm_vol,wm_vol,csf_vol,gm_ivc_ratio,gmwm_ivc_ratio,wmh_vol,wmh_count,deepwm_b_cov,aca_b_cov,mca_b_cov,pca_b_cov,totalgm_b_cov,deepwm_b,aca_b,mca_b,pca_b,totalgm_b
1142,sub-18345613_1_ses-1_run-1,69.263889,1,0.617348,0.529071,0.363062,0.404025,0.659363,11.353043,32.89922,11.778048,4.60921,5.011292,3.618233,3.368574,19.872526,53.316258,47.338401,41.270619,44.655011
1143,sub-13929827_1_ses-1_run-1,69.272222,0,0.491638,0.399133,0.271007,0.423439,0.667683,8.271979,27.571363,20.68172,2.650178,2.049537,4.006242,3.045975,27.672374,83.992813,71.466146,49.826486,58.664285

In [82]:
fg_Inisght2_transformed = fg_transformed_TOPMRI6ALL[fg_transformed_TOPMRI6ALL['site']==3]
fg_Inisght2_transformed = fg_Inisght2_transformed.drop(['site', 'decade', 'Unnamed: 0', 'index', 'fine_grain', 'level_0'], axis=1)
fg_Inisght2_transformed.head(2)

,participant_id,age,sex,gm_vol,wm_vol,csf_vol,gm_ivc_ratio,gmwm_ivc_ratio,wmh_vol,wmh_count,deepwm_b_cov,aca_b_cov,mca_b_cov,pca_b_cov,totalgm_b_cov,deepwm_b,aca_b,mca_b,pca_b,totalgm_b
1142,sub-18345613_1_ses-1_run-1,69.263889,1,0.614966,0.528093,0.367854,0.402418,0.659555,11.830452,33.362799,11.925247,4.625579,5.038821,3.639727,3.376935,19.926706,53.37769,47.449227,41.287508,44.665723
1143,sub-13929827_1_ses-1_run-1,69.272222,0,0.490657,0.398229,0.276664,0.421413,0.667693,8.775456,28.050974,20.813289,2.667261,2.080113,4.027526,3.054461,27.722609,84.024101,71.53591,49.844176,58.65648

In [83]:
SABRE2_transformed = transformed_TOPMRI6ALL[ transformed_TOPMRI6ALL['site']==4]
SABRE2_transformed = SABRE2_transformed.drop(['site', 'decade', 'Unnamed: 0', 'fine_grain', 'index', 'level_0'], axis=1)
SABRE2_transformed.head(3)

,participant_id,age,sex,gm_vol,wm_vol,csf_vol,gm_ivc_ratio,gmwm_ivc_ratio,wmh_vol,wmh_count,deepwm_b_cov,aca_b_cov,mca_b_cov,pca_b_cov,totalgm_b_cov,deepwm_b,aca_b,mca_b,pca_b,totalgm_b
290,sub-500609_1_ses-1_run-1,37.0,0,0.629188,0.533621,0.282049,0.441149,0.64497,2.108847,15.288934,24.85421,2.768776,2.831109,2.290286,2.667678,34.61625,93.09766,84.488122,67.492707,75.039536
512,sub-502358_1_ses-1_run-1,46.0,0,0.619505,0.481046,0.323204,0.438793,0.64202,1.873501,13.685377,27.223085,2.5037,2.832916,2.005239,2.553011,18.437276,71.466217,64.453457,61.587917,59.82991
570,sub-503171_1_ses-1_run-1,49.0,0,0.634798,0.480138,0.300178,0.453046,0.65987,1.686022,15.288934,33.082689,2.544299,2.649749,2.229482,2.493971,14.935056,68.846617,61.288005,50.698188,55.348313

In [84]:
fg_SABRE2_transformed = fg_transformed_TOPMRI6ALL[fg_transformed_TOPMRI6ALL['site']==4]
fg_SABRE2_transformed = fg_SABRE2_transformed.drop(['site', 'decade', 'Unnamed: 0', 'fine_grain', 'index', 'level_0'], axis=1)
fg_SABRE2_transformed.head(3)

,participant_id,age,sex,gm_vol,wm_vol,csf_vol,gm_ivc_ratio,gmwm_ivc_ratio,wmh_vol,wmh_count,deepwm_b_cov,aca_b_cov,mca_b_cov,pca_b_cov,totalgm_b_cov,deepwm_b,aca_b,mca_b,pca_b,totalgm_b
290,sub-500609_1_ses-1_run-1,37.0,0,0.629534,0.533643,0.279862,0.442519,0.644117,1.886424,15.084573,25.011842,2.750467,2.823658,2.276763,2.662503,34.814659,92.757019,83.954879,67.299842,74.607856
512,sub-502358_1_ses-1_run-1,46.0,0,0.619889,0.48103,0.320822,0.440197,0.641183,1.650864,13.479528,27.383966,2.48537,2.825466,1.991715,2.547834,18.65644,71.06124,63.809932,61.380759,59.339094
570,sub-503171_1_ses-1_run-1,49.0,0,0.635121,0.480121,0.297905,0.454248,0.65894,1.463215,15.084573,33.251608,2.525972,2.642295,2.215959,2.488793,15.158713,68.43385,60.627055,50.464671,54.840073

In [85]:
TOPMRI6_transformed.to_csv('../open_work/internal_results/autocombat/autocom_harm_top_and_mri_against_inisght_w_sabre.csv')
Inisght2_transformed.to_csv('../open_work/internal_results/autocombat/autocom_harm_insight_against_top_and_mri_w_sabre.csv')
SABRE2_transformed.to_csv('../open_work/internal_results/autocombat/autocom_harm_sabret_against_top_and_mri_w_insight.csv')

In [86]:
fg_TOPMRI6_transformed.to_csv('../open_work/internal_results/autocombat/fg_autocom_harm_top_and_mri_against_inisght_w_sabre.csv')
fg_Inisght2_transformed.to_csv('../open_work/internal_results/autocombat/fg_autocom_harm_insight_against_top_and_mri_w_sabre.csv')
fg_SABRE2_transformed.to_csv('../open_work/internal_results/autocombat/fg_autocom_harm_sabret_against_top_and_mri_w_insight.csv')