# Recoding the age tsv or csvs

##  Import libraries

In [1]:
import os       # using operating system dependent functionality (folders)
import glob
from string import ascii_letters


import pandas as pd # data analysis and manipulation
import numpy as np    # numerical computing (manipulating and performing operations on arrays of data)
import copy     # Can Copy and Deepcopy files so original file is untouched.

#import ipywidgets as widgets

#import matplotlib.pyplot as plt
#import seaborn as sns

import sys
sys.path.insert(0, '../') # path to functions
from cvasl import file_handler as fh # 
from cvasl import mold #
from cvasl import carve
from cvasl.file_handler import Config

In [2]:
from cvasl import seperated

## Import age file
Here you will input where you put your age files.
You must hit enter after you type or paste this in.
This will be changed in later versions.

In [5]:
age_csv_place = input()

 C:/Projects/brainspin/not_pushed/data_anonymized/age_data

In [6]:
print('You selected:', age_csv_place)

You selected: C:/Projects/brainspin/not_pushed/data_anonymized/age_data

In [7]:

age_csv_pattern = os.path.join(age_csv_place, '**/*.csv')
age_csv_files = glob.glob(age_csv_pattern, recursive=True)
age_dataframe_example1 = pd.read_csv(age_csv_files[0])
age_dataframe_example2 = pd.read_csv(age_csv_files[1])
age_dataframe_example3 = pd.read_csv(age_csv_files[2])

In [8]:
## Recode sex into new column

In [9]:
len(age_dataframe_example3.Sex.unique())

2

In [29]:
def recode_sex(whole_dataframe, string_for_sex):
    """
    This function recodes sex into a new column if there 
    are two possible values. It maintains numerical older
    butchanges the values to 0 and 1. The new column is
    called 'sex_encoded'.
    
    """
    new_dataframe = whole_dataframe.copy()
    dataframe_column = whole_dataframe[string_for_sex]
    recoded = dataframe_column.copy()
    if 999 in set(recoded.unique()):
        recoded = recoded.replace(999, 'NaN')
    if '999' in set(recoded.unique()):
        recoded = recoded.replace('999', 'NaN')
    if 'M' in set(recoded.unique()):
        recoded = recoded.replace('M', 0)
    if 'F' in set(recoded.unique()):
        recoded = recoded.replace('F', 1)
    if len(dataframe_column.unique()) == 2:
        if recoded.unique()[0] < recoded.unique()[1]:
            # transform smaller number to zero
            recoded = recoded.replace(recoded.unique()[0], 0)
            recoded = recoded.replace(recoded.unique()[1], 1)
        else:
            recoded = recoded.replace(recoded.unique()[1], 0)
            recoded = recoded.replace(recoded.unique()[0], 1)
        new_dataframe['sex_encoded'] = recoded
    elif len(recoded.unique) < 2:
        print('there are two sexes, you have fewer, caution, encode by hand')
    else:
        print('there are two sexes, you have more, caution, encode by hand')
        
    return new_dataframe

In [33]:
las = recode_sex(age_dataframe_example1, 'sex')

In [34]:
las

     participant ID  sex  ageatscandate_i46p1  sex_encoded
0          10015124    2            69.733333            1
1          10024822    2            70.288889            1
2          10041211    1            71.430556            0
3          10075012    1            69.883333            0
4          10113912    1            69.866667            0
..              ...  ...                  ...          ...
396        19902911    1            71.341667            0
397        19910919    1            70.741667            0
398        19978012    1            71.686111            0
399        19995714    1            70.944444            0
400        19996829    2            70.666667            1

[401 rows x 4 columns]

In [35]:
age_dataframe_example1

     participant ID  sex  ageatscandate_i46p1
0          10015124    2            69.733333
1          10024822    2            70.288889
2          10041211    1            71.430556
3          10075012    1            69.883333
4          10113912    1            69.866667
..              ...  ...                  ...
396        19902911    1            71.341667
397        19910919    1            70.741667
398        19978012    1            71.686111
399        19995714    1            70.944444
400        19996829    2            70.666667

[401 rows x 3 columns]

In [36]:
config = Config()
root_mri_directory = config.get_directory('raw_data')

In [ ]:
tsv_pattern = os.path.join(root_mri_directory, '**/*.tsv')
tsv_files = glob.glob(tsv_pattern, recursive=True)

In [ ]:
dataframe_example = pd.read_csv(tsv_files[0], sep='\t', header=[0,1])

In [ ]:
dataframe_example

In [ ]:
dataframe_example.columns

In [ ]:
dataframe_example[(       'participant_id',             'StudyID')]

In [ ]:
# peel of sub- or any other string before the numberical valuue



dataframe_example[(       'participant_id',             'StudyID')] = dataframe_example[(       'participant_id',             'StudyID')].map(lambda x: x.lstrip(ascii_letters))


dataframe_example[(       'participant_id',             'StudyID')] = dataframe_example[(       'participant_id',             'StudyID')].map(lambda x: x.lstrip('-'))

dataframe_example

In [ ]:
# smash down double header to single

In [ ]:
dataframe_example.columns = [c[0] + "_" + c[1] for c in dataframe_example.columns]
dataframe_example

In [ ]:
prepare_tsv_to_stype(sv_file)
    if