# let's make a datframe with a column we want to split on, and do it

## libraries

In [1]:
import pandas as pd
import numpy as np

In [3]:
# initialize list of lists 
data = [['tom', 10, 6], 
        ['nick', 15,8], 
        ['juli', 14,8],
        ['lolo', 23,10], 
        ['mimi',66,10],
        ['tim', 11,32], 
        ['dick', 15,23], 
        ['june', 24,23],
        ['leem', 24, 23],
        ['mia',69,23]] 
  
# Create the pandas DataFrame 
df = pd.DataFrame(data, columns=['Name', 'Age', 'nonsense']) 
  
# print dataframe. 
df

   Name  Age  nonsense
0   tom   10         6
1  nick   15         8
2  juli   14         8
3  lolo   23        10
4  mimi   66        10
5   tim   11        32
6  dick   15        23
7  june   24        23
8  leem   24        23
9   mia   69        23

In [5]:
df.Age.describe()

count    10.000000
mean     27.100000
std      21.911184
min      10.000000
25%      14.250000
50%      19.000000
75%      24.000000
max      69.000000
Name: Age, dtype: float64

In [37]:
df.sort_values('Age').reset_index()

rng_even = range(0, len(df),2)
rng_odd =  range(1, len(df),2)
even_rows = df.iloc[rng_even]
odd_rows = df.iloc[rng_odd]
odd_rows

   Name  Age  nonsense
1  nick   15         8
3  lolo   23        10
5   tim   11        32
7  june   24        23
9   mia   69        23

In [22]:
pd.cut(df,3)

ValueError: Input array must be 1 dimensional

In [6]:

df_1=df.groupby('Age', as_index=False, group_keys=False).apply(lambda x: x.sample(n=2))
df_2 = df[~df.index.isin(df_1.index)]

ValueError: Cannot take a larger sample than population when 'replace=False'

In [9]:
df_1=df.groupby('Age').apply(lambda x: x.sample(n=2))

ValueError: Cannot take a larger sample than population when 'replace=False'

In [8]:
df_1